.AppBar {
    background-color: rgba(9, 47, 116, 0.75) ;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 16px;
    color: azure;
}